<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
     http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd">

	<bean id="mysqlDataSource_master" parent="base_ds">
		<property name="url" value="${mysql.master.url}" />
		<property name="username" value="${mysql.master.user}" />
		<property name="password" value="${mysql.master.password}" />
	</bean>

	<bean id="mysqlDataSource_slaver" parent="base_ds">
		<property name="url" value="${mysql.slaver.url}" />
		<property name="username" value="${mysql.slaver.user}" />
		<property name="password" value="${mysql.slaver.password}" />
	</bean>
	
	
	<bean id="base_ds" abstract="true" class="com.alibaba.druid.pool.DruidDataSource"
		destroy-method="close" >
		<property name="filters" value="${druid.filters}" />
		<property name="driverClassName" value="${mysql.driverClassName}" />
		<property name="maxActive" value="${druid.maxActive}" />
		<property name="initialSize" value="${druid.initialSize}" />
		<property name="maxWait" value="${druid.maxWait}" />
		<property name="minIdle" value="${druid.minIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${druid.timeBetweenEvictionRunsMillis}" />
		<property name="minEvictableIdleTimeMillis" value="${druid.minEvictableIdleTimeMillis}" />
		<property name="validationQuery" value="${druid.validationQuery}" />
		<property name="testWhileIdle" value="${druid.testWhileIdle}" />
		<property name="testOnBorrow" value="${druid.testOnBorrow}" />
		<property name="testOnReturn" value="${druid.testOnReturn}" />
		<property name="maxOpenPreparedStatements" value="${druid.maxOpenPreparedStatements}" />
		<property name="removeAbandoned" value="${druid.removeAbandoned}" /> 
		<property name="removeAbandonedTimeout" value="${druid.removeAbandonedTimeout}" />
		<property name="logAbandoned" value="${druid.logAbandoned}" /> 
		<property name="proxyFilters">
			<list>
				<ref bean="stat-filter" />
			</list>
		</property>
	</bean>

	<bean id="base_ds_dbcp" abstract="true" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="initialSize" value="${mysql.initialSize}" />
		<property name="minIdle" value="${mysql.minIdle}" />
		<property name="maxIdle" value="${mysql.maxIdle}" />
		<property name="maxTotal" value="${mysql.maxTotal}" />
		<property name="maxWaitMillis" value="${mysql.maxWaitMillis}" />
		<property name="timeBetweenEvictionRunsMillis" value="${mysql.timeBetweenEvictionRunsMillis}" />
		<property name="minEvictableIdleTimeMillis" value="${mysql.minEvictableIdleTimeMillis}" />
		<property name="testWhileIdle" value="${mysql.testWhileIdle}" />
		<property name="testOnBorrow" value="${mysql.testOnBorrow}" />
		<property name="testOnReturn" value="${mysql.testOnReturn}" />
		<property name="removeAbandonedOnMaintenance" value="${mysql.removeAbandonedOnMaintenance}" />
		<property name="removeAbandonedOnBorrow" value="${mysql.removeAbandonedOnBorrow}" />
		<property name="removeAbandonedTimeout" value="${mysql.removeAbandonedTimeout}" />
		<property name="logAbandoned" value="${mysql.logAbandoned}" />
		<property name="validationQuery" value="select now()" />
	</bean>


	<bean id="stat-filter" class="com.alibaba.druid.filter.stat.StatFilter">
		<property name="slowSqlMillis" value="1000" />
		<property name="logSlowSql" value="true" />
	</bean>
	

	<bean id="mysqlDataSource" class="com.tony.DynamicDataSource">  
        <property name="targetDataSources">  
            <map key-type="java.lang.String">  
                <entry key="master" value-ref="mysqlDataSource_master" />  
                <entry key="slaver" value-ref="mysqlDataSource_slaver" />  
            </map>  
        </property>  
        <property name="defaultTargetDataSource" ref="mysqlDataSource_master" />  
    </bean>  
	

</beans>
